body{
    background: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    background:plum;
    width:700px;
    height:500px;
    padding-top:50px ;
    margin:auto;
    margin-top: 80px;
}
h1{
    color: rgb(180, 11, 124);
    text-align: center;
}
h2{
    color: black;
    text-align: center;
    margin-top: 70px;
}
label{
    text-align: center;
    margin-left: 180px;
    padding-top: 90px; 
}
h3{
    color: black;
    text-align: center;
    margin-top: 70px;
}
.sub{
    display:flex;
    padding-left: 300px;
    padding-top: 50px;
}